/* App-specific styles can be added here if needed */

/* Embla Carousel custom styles */
.embla {
  max-width: 100%;
  margin: auto;
  --slide-spacing: 1.5rem;
  --slide-size: 100%;
  --slide-spacing-md: 1.5rem;
  --slide-size-md: 50%;
  --slide-spacing-lg: 1.5rem;
  --slide-size-lg: calc(100% / 3);
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

@media (min-width: 900px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-md) * -1);
  }
}

@media (min-width: 1250px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}

.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

@media (min-width: 900px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-md);
    padding-left: var(--slide-spacing-md);
  }
}

@media (min-width: 1250px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}
